# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# IDE settings
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
# Raw dataset
data/recipes.csv
